.github-component {
  width: 400px !important;
}

h1.card-title, h5.repo-title:hover {
  color: rgb(56, 61, 65) !important;
}

h1.card-title:hover, h5.repo-title {
  color: #17a2b8 !important;
}

#bio {
  text-align: center;
}

.repo-title{
  text-align: left;
}

#moreBtn { 
  float: right;
  margin-right: 0;
}

/* @media (prefers-reduced-motion: no-preference) {
  #avatar {
    animation: avatar-logo-spin infinite 20s linear;
  }
}

@keyframes avatar-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
